
@{
    ViewBag.Title = "CreateBoard";
}


@*<script src="~/Scripts/home.js"></script>*@

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Create Your Board</h1>


    </div>
</div>
<!-- /.row -->

