
@{
    ViewBag.Title = "Home";
}


<script src="~/Scripts/home.js"></script>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Hello on WSB Kanban Board Project</h1>
            <div class="container">
                Please Log In or Sign Up to create and manage your kanaban board.
            </div>
            
        </div>
    </div>
    <!-- /.row -->



